<br />
<div class="jumbotron">
    <h1>Система Управления Проектами</h1>
    <h2>Добро пожаловать</h2>
</div>
<div class="text-left">
    <h5>При разработке использованы следующие технологии:</h5>
    <ul>
        <li>ASP.NET MVC</li>
        <li>MS SQL Server 2012 + Entity Framework Code First</li>
        <li>Bootstrap</li>
        <li>jQuery</li>
    </ul>
</div>
