<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a504aef0-f36d-4a12-a4b9-a35dddb28a3b/resourcegroups/alexili/providers/Microsoft.Web/sites/projectBD20180815092746</ResourceId>
    <ResourceGroup>alexili</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://projectbd20180815092746.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>projectbd20180815092746.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>projectBD20180815092746</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$projectBD20180815092746</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DB_Context" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:avilin.database.windows.net,1433;Initial Catalog=projectBD20180815092746_db;User ID=avilin@avilin;Password=00Trfnthbyf1fz" Name="Data Source=tcp:avilin.database.windows.net,1433;Initial Catalog=projectBD20180815092746_db;User Id=avilin@avilin;Password=00Trfnthbyf1fz" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="project_BD.Models.Classes.DB_Context, project_BD" MigrationConfiguration="project_BD.Migrations.Configuration, project_BD" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DB_Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:avilin.database.windows.net,1433;Initial Catalog=projectBD20180815092746_db;User Id=avilin@avilin;Password=00Trfnthbyf1fz</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>